{:topic "cover/topic.edn",
 :image
 ["cover/meta.edn"
  "cover/canvas.edn"
  "cover/style_definition.edn"
  "cover/wabi_sabi.edn"
  "cover/color_palette.edn"
  "cover/surface_treatment.edn"
  "cover/locations_library.edn"
  "cover/metaphor_elements_library.edn"
  "cover/topic_to_visual_mapping.edn"
  "cover/composition_guidelines.edn"
  "cover/generation_process.edn"
  "cover/quality_requirements.edn"]}
